body{

    background-color: rgb(226, 226, 226);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Header{

    width: 100%;
    display: flex;
    background-color: #000000;
    

}

#Header h1{

    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    flex-grow: 1;
    font-weight: bold;
    font-size: 40px;

}

#Header #icone_lucas{

    width: 4%;
    height: 4%;

}

#navegação{
    background-color: #11005f;
    text-align: center;

}

#navegação a{

    color: aliceblue;
}

#main{


}

#Sobre{

    width: fit-content;
    padding: 15px;
    margin: 20px auto;
    background-color:azure;
    border-radius: 10px
}

#Serviços{

    background-color:azure;
    padding: 15px;
    border-radius: 10px;

}

#Contato{
    margin-top: 20px;
    background-color:azure;
    padding: 15px;
    border-radius: 10px;

}

#footer{

    position: fixed;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    background-color: #11005f;
    padding: 10px;
    text-align: center;

}
